.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.card-list {
  display: flex;
  overflow-x: scroll;
  height: 33vh;
  padding: 20px;
}

.card {
  flex: 0 0 auto;
  width: 45%;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card h2 {
  margin: 0 0 10px;
  font-size: 24px;
}

.card p {
  font-size: 18px;
  color: #666;
}